/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #384237;
}

h1 {
    color: #333;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport */
    
}

.card {
  background-color: #E9FFC2;
  max-width: 30rem; 
}

.list-group-item{
    background-color: #E9FFC2; /* Change this to your desired background color */

}


.list-group button{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50px;
}

ul {
    line-height: 80px;
  }

#myforms {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deletef button{
    margin-right: 20px;
}



.card #myforms {
    margin-left: 20px;
}

#myforms button {
    margin-left: 10;
}

.jam {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nodata {
    margin-top: 10px;
    margin-bottom: 10px;
}

#checkb{
    display: flex;   
    align-items: center;
}





  
