/* styles.css */
body {
    font-family: 'roboto';
    background-color: #121413;
}

h1 {
    color: #333;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items:start;
    height: 100vh; /* Center vertically within the viewport */
    
    
}

.card {
  background-color: aquamarine;
  max-width: 32rem;
  margin-top: 30px;
  box-shadow: 0 0 20px 10px rgb(146, 245, 129);
}

.card h2 {
    font-weight: bold;
}


.list-group-item{
    background-color: #E9FFC2; /* Change this to your desired background color */

}


.list-group button{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50px;
}

ul {
    line-height: 80px;
  }

#myforms {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deletef button{
    margin-right: 20px;
}



.card #myforms {
    margin-left: 20px;
}

#myforms button {
    margin-left: 10;
}

.jam {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nodata {
    margin-top: 10px;
    margin-bottom: 10px;
}

#checkb{
    display: flex;   
    align-items: center;
}

.feedback {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


